.border{
	border: 1px solid pink;
}
.border:hover{
	box-shadow: rgba(0,0,0,0.5) 0px 5px 15px,inset rgba(0,0,0,0.10) 0px -10px 20px;
	
}
.BackBody{
	background: linear-gradient(
	rgba(53, 39, 253, 0.45), 
	rgba(23, 20, 233, 0.966)),url('./assets/images/img-01.jpg') !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	 /* background-blend-mode:screen; */
}
.design{
	display: flex;
	justify-content: center;

}
.designButton{
	color: rgb(35, 73, 71);
}